<!-- Hero Section -->
<section class="hero-section">
  <div class="overlay">
    <div class="container text-center text-white">
      <h1 class="display-2 fw-bold">Exporting Premium Indian Spices Worldwide</h1>
      <p class="lead">From Indian Soil to Global Kitchens</p>
      <a class="quote" routerLink="/contact" class="btn btn-warning btn-lg mt-3">Request a Quote</a>
    </div>
  </div>
</section>
<div class="testimonial-section">
  <app-testimonial></app-testimonial>
</div>

<!-- Introduction Section -->
<!-- <section class="intro-section container my-5">
  <div class="row align-items-center">
    <div class="col-md-6">
      <h2>Welcome to Bharat Spice World</h2>
      <p>
        We are one of India’s leading spice exporters, offering premium quality whole and ground spices to kitchens around the globe.
      </p>
      <p>
        Whether you’re a wholesaler, distributor, or direct buyer — we deliver the taste of India to your door.
      </p>
    </div>
  </div>
</section> -->
